.section-title {
  font-size: 25pt;
  margin-bottom: 10px;
}
.underline {
  border-top: 4px solid #0be779;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 70px;
}
ul {
  list-style-image: url('../../images/logos/checkmark-16.png');
}
.tech_name{
  background-color: #0be779;
  margin:20px;
  padding: 10px;
  border-radius: 20px;
  color: black;
}
.traitsSect, .educSect, .projSect{
  background-color: #2c323f;
  padding-bottom: 90px;
}

.skillsSect, .ex2Sect, .blogSect{
  background-color: #272b33;
  padding-bottom: 90px;
}
